@page
@model CIAcademicApp.Pages.Estudiante.CalificacionesModel
@{
}
<body style="font-family: Nunito, sans-serif;">
<nav class="navbar navbar-light navbar-expand-md fixed-top py-3" style="font-family: Nunito, sans-serif; font-weight: bold; background: #ffffff;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="UserView.html">
            <img src="/assets/img/CIAcademic.png" alt="">
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown">Perfil</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item green-background" href="UserView"><i class="far fa-user-circle icon-margin"></i>Perfil</a>
                        <a class="dropdown-item" href="SeleccionarAsignatura"><i class="fas fa-tasks icon-margin"></i>Seleccionar Asignaturas</a>
                        <a class="dropdown-item" href="HistorialAcademico"><i class="far fa-file-alt icon-margin"></i>Historial Academico</a>
                        <a class="dropdown-item" href="RetirarAsignatura"><i class="far fa-user-circle icon-margin"></i>Retirar Asignatura</a>
                        <a class="dropdown-item" href="LoginCIAcademic"><i class="icon ion-android-exit icon-margin"></i>Cerrar Sesion</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active green-background" href="Calificaciones.html">Calificaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AsignaturasEstudiante.html">Asignaturas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="profile">
    <h1 data-aos="fade-down" class="margin-heading" style="padding-bottom: 66px;">Calificaciones</h1>
    <div class="container padding-container" style="background: #CBF3F0; padding-bottom: 41px;">
        <div class="d-flex flex-grow-1 justify-content-around background-div" style="background: #ffffff; font-family: Nunito, sans-serif; font-size: 27px; font-weight: bold; padding-bottom: 17px;">
            <div>
                <p style="font-family: Nunito, sans-serif;">Programación</p>
            </div>
            <div class="d-flex">
                <div>
                    <p class="calification-color">A</p>
                </div>
                <div>
                    <p class="margin-calification">91%</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-grow-1 justify-content-around background-div" style="background: #ffffff; font-family: Nunito, sans-serif; font-size: 27px; font-weight: bold; padding-bottom: 17px;">
            <div>
                <p style="font-family: Nunito, sans-serif;">Ciencias Sociales</p>
            </div>
            <div class="d-flex">
                <div>
                    <p class="calification-color">B-</p>
                </div>
                <div>
                    <p class="margin-calification">84%</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-grow-1 justify-content-around background-div" style="background: #ffffff; font-family: Nunito, sans-serif; font-size: 27px; font-weight: bold; padding-bottom: 17px;">
            <div>
                <p style="font-family: Nunito, sans-serif;">Ciencias Naturales</p>
            </div>
            <div class="d-flex">
                <div>
                    <p class="calification-color">B+</p>
                </div>
                <div>
                    <p class="margin-calification">88%</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-grow-1 justify-content-around background-div" style="background: #ffffff; font-family: Nunito, sans-serif; font-size: 27px; font-weight: bold; padding-bottom: 17px;">
            <div>
                <p style="font-family: Nunito, sans-serif;">Fisica</p>
            </div>
            <div class="d-flex">
                <div>
                    <p class="calification-color">C+</p>
                </div>
                <div>
                    <p class="margin-calification">78%</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>