@page
@model CIAcademicApp.Pages.Estudiante.HistorialAcademicoModel
@{
}
<body style="font-family: Nunito, sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top py-3" style="font-family: Nunito, sans-serif;font-weight: bold;background: #ffffff;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="VistaUsuario">
    <img src="~/assets/img/CIAcademic.png" alt="">
</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link green-background course-pointer" aria-expanded="false" data-bs-toggle="dropdown">Perfil</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="VistaUsuario"><i class="far fa-user-circle icon-margin"></i>Perfil</a><a class="dropdown-item" href="SeleccionarAsignatura"><i class="fas fa-tasks icon-margin"></i>Seleccionar Asignaturas</a><a class="dropdown-item green-background" href="HistorialAcademico"><i class="far fa-file-alt icon-margin"></i>Historial Academico</a><a class="dropdown-item" href="Retirar"><i class="far fa-user-circle icon-margin"></i>Retirar Asignatura</a><a class="dropdown-item" href="/"><i class="icon ion-android-exit icon-margin"></i>Cerrar Sesion</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="Calificaciones">Calificaciones</a></li>
                    <li class="nav-item"><a class="nav-link active" href="AsignaturasEstudiante">Asignaturas</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="profile">
        <h1 class="d-flex justify-content-center margin-heading" data-aos="fade-down" style="padding-bottom: 66px;font-weight: bold;text-align: center;">Historial Academico</h1>
        <div class="container padding-container" style="background: #CBF3F0;padding-bottom: 48px;padding-top: 5px;">
            <section class="section-border" style="background: #ffffff;padding: 37px;margin: 0px;margin-top: 46px;">
                <div class="d-flex flex-column flex-grow-1 justify-content-around flex-sm-column align-items-sm-center flex-md-row flex-lg-row flex-xl-row flex-xxl-row background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                    <div>
                        <p class="text-center d-flex justify-content-center" style="font-family: Nunito, sans-serif;width: 100%;">Aseguramiento De La Calidad</p>
                    </div>
                    <div class="d-flex d-sm-flex justify-content-center align-items-center">
                        <div>
                            <p class="calification-color">B+</p>
                        </div>
                        <div>
                            <p class="margin-calification" style="padding: 0px;padding-left: 19px;padding-right: 18px;">2022</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1 justify-content-around flex-sm-column align-items-sm-center flex-md-row flex-lg-row flex-xl-row flex-xxl-row background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                    <div>
                        <p class="text-center d-flex justify-content-center" style="font-family: Nunito, sans-serif;width: 100%;">Aseguramiento De La Calidad</p>
                    </div>
                    <div class="d-flex d-sm-flex justify-content-center align-items-center">
                        <div>
                            <p class="calification-color">B+</p>
                        </div>
                        <div>
                            <p class="margin-calification" style="padding: 0px;padding-left: 19px;padding-right: 18px;">2022</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1 justify-content-around flex-sm-column align-items-sm-center flex-md-row flex-lg-row flex-xl-row flex-xxl-row background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                    <div>
                        <p class="text-center d-flex justify-content-center" style="font-family: Nunito, sans-serif;width: 100%;">Aseguramiento De La Calidad</p>
                    </div>
                    <div class="d-flex d-sm-flex justify-content-center align-items-center">
                        <div>
                            <p class="calification-color">B+</p>
                        </div>
                        <div>
                            <p class="margin-calification" style="padding: 0px;padding-left: 19px;padding-right: 18px;">2022</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-grow-1 justify-content-around flex-sm-column align-items-sm-center flex-md-row flex-lg-row flex-xl-row flex-xxl-row background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                    <div>
                        <p class="text-center d-flex justify-content-center" style="font-family: Nunito, sans-serif;width: 100%;">Aseguramiento De La Calidad</p>
                    </div>
                    <div class="d-flex d-sm-flex justify-content-center align-items-center">
                        <div>
                            <p class="calification-color">B+</p>
                        </div>
                        <div>
                            <p class="margin-calification" style="padding: 0px;padding-left: 19px;padding-right: 18px;">2022</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>