@page
@model CIAcademicApp.Pages.Estudiante.RetirarAsignaturaModel
@{
}
<body style="font-family: Nunito, sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top py-3" style="font-family: Nunito, sans-serif;font-weight: bold;background: #ffffff;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="UserView.html">
    <img src="assets/img/CIAcademic.png" alt="">
</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown">Perfil</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="UserView.html"><i class="far fa-user-circle icon-margin"></i>Perfil</a><a class="dropdown-item" href="SeleccionarAsignatura.html"><i class="fas fa-tasks icon-margin"></i>Seleccionar Asignaturas</a><a class="dropdown-item" href="HistorialAcademico.html"><i class="far fa-file-alt icon-margin"></i>Historial Academico</a><a class="dropdown-item green-background" href="Retirar.html"><i class="far fa-user-circle icon-margin"></i>Retirar Asignatura</a><a class="dropdown-item" href="Index.html"><i class="icon ion-android-exit icon-margin"></i>Cerrar Sesion</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="Calificaciones.html">Calificaciones</a></li>
                    <li class="nav-item"><a class="nav-link active green-background" href="AsignaturasEstudiante.html">Asignaturas</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="profile">
        <h1 data-aos="fade-down" class="margin-heading" style="padding-bottom: 66px;font-family: Nunito, sans-serif;">Retirar Asignaturas</h1>
        <div class="row">
            <div class="col-md-10 offset-md-1 mb-5">
                <div class="card m-auto" style="max-width:850px">
                    <div class="card-body">
                        <form class="d-flex align-items-center"><i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i><input class="form-control form-control-lg flex-shrink-1 form-control-borderless" type="search" placeholder="Buscar Asignaturas" name="searchbar"><button class="btn btn-success btn-lg rounded-3" type="submit">Buscar</button></form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container padding-container" style="background: #CBF3F0;padding-bottom: 41px;">
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column flex-grow-1 flex-shrink-1 justify-content-start flex-sm-column justify-content-sm-start align-items-sm-center flex-md-row justify-content-md-between flex-lg-row justify-content-lg-between flex-xl-row justify-content-xl-between align-items-xl-center flex-xxl-row justify-content-xxl-between background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                <div>
                    <p style="font-family: Nunito, sans-serif;">Asignatura 1</p>
                </div>
                <div class="d-flex" style="background: rgba(255,159,28,0);"><button class="btn btn-primary btn-project" type="button" style="background: #FF9F1C;font-family: Nunito, sans-serif;padding: 0px 40px;color: rgb(0,0,0);font-size: 20px;">Retirar</button></div>
            </div>
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column flex-grow-1 flex-shrink-1 justify-content-start flex-sm-column justify-content-sm-start align-items-sm-center flex-md-row justify-content-md-between flex-lg-row justify-content-lg-between flex-xl-row justify-content-xl-between align-items-xl-center flex-xxl-row justify-content-xxl-between background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                <div>
                    <p style="font-family: Nunito, sans-serif;">Asignatura 2</p>
                </div>
                <div class="d-flex" style="background: rgba(255,159,28,0);"><button class="btn btn-primary btn-project" type="button" style="background: #FF9F1C;font-family: Nunito, sans-serif;padding: 0px 40px;color: rgb(0,0,0);font-size: 20px;">Retirar</button></div>
            </div>
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column flex-grow-1 flex-shrink-1 justify-content-start flex-sm-column justify-content-sm-start align-items-sm-center flex-md-row justify-content-md-between flex-lg-row justify-content-lg-between flex-xl-row justify-content-xl-between align-items-xl-center flex-xxl-row justify-content-xxl-between background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                <div>
                    <p style="font-family: Nunito, sans-serif;">Asignatura 3</p>
                </div>
                <div class="d-flex" style="background: rgba(255,159,28,0);"><button class="btn btn-primary btn-project" type="button" style="background: #FF9F1C;font-family: Nunito, sans-serif;padding: 0px 40px;color: rgb(0,0,0);font-size: 20px;">Retirar</button></div>
            </div>
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column flex-grow-1 flex-shrink-1 justify-content-start flex-sm-column justify-content-sm-start align-items-sm-center flex-md-row justify-content-md-between flex-lg-row justify-content-lg-between flex-xl-row justify-content-xl-between align-items-xl-center flex-xxl-row justify-content-xxl-between background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                <div>
                    <p style="font-family: Nunito, sans-serif;">Asignatura 4</p>
                </div>
                <div class="d-flex" style="background: rgba(255,159,28,0);"><button class="btn btn-primary btn-project" type="button" style="background: #FF9F1C;font-family: Nunito, sans-serif;padding: 0px 40px;color: rgb(0,0,0);font-size: 20px;">Retirar</button></div>
            </div>
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column flex-grow-1 flex-shrink-1 justify-content-start flex-sm-column justify-content-sm-start align-items-sm-center flex-md-row justify-content-md-between flex-lg-row justify-content-lg-between flex-xl-row justify-content-xl-between align-items-xl-center flex-xxl-row justify-content-xxl-between background-div" style="background: #ffffff;font-family: Nunito, sans-serif;font-size: 27px;font-weight: bold;padding-bottom: 17px;">
                <div>
                    <p style="font-family: Nunito, sans-serif;">Asignatura 5</p>
                </div>
                <div class="d-flex" style="background: rgba(255,159,28,0);"><button class="btn btn-primary btn-project" type="button" style="background: #FF9F1C;font-family: Nunito, sans-serif;padding: 0px 40px;color: rgb(0,0,0);font-size: 20px;">Retirar</button></div>
            </div>
        </div>
    </section>
</body>