@page
@model CIAcademicApp.Pages.Estudiante.UserViewModel
@{
}


<body style="font-family: Nunito, sans-serif;">
<nav class="navbar navbar-light navbar-expand-md fixed-top py-3" style="font-family: Nunito, sans-serif; font-weight: bold; background: #ffffff;">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="UserView">
            <img src="/assets/img/CIAcademic.png" alt="">
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link green-background" aria-expanded="false" data-bs-toggle="dropdown">Perfil</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item green-background" href="UserView"><i class="far fa-user-circle icon-margin"></i>Perfil</a>
                        <a class="dropdown-item" href="SeleccionarAsignatura"><i class="fas fa-tasks icon-margin"></i>Seleccionar Asignaturas</a>
                        <a class="dropdown-item" href="HistorialAcademico"><i class="far fa-file-alt icon-margin"></i>Historial Academico</a>
                        <a class="dropdown-item" href="RetirarAsignatura"><i class="far fa-user-circle icon-margin"></i>Retirar Asignatura</a>
                        <a class="dropdown-item" href="LoginCIAcademic"><i class="icon ion-android-exit icon-margin"></i>Cerrar Sesion</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Calificaciones">Calificaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AsignaturasEstudiante">Asignaturas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="profile">
    <div>
        <h1 data-aos="fade-right" data-aos-duration="1700" class="profile" style="font-family: Nunito, sans-serif; padding-top: 10rem; padding-left: 10rem; padding-bottom: 1.3rem;">Hola, Usuario!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 offset-lg-0">
                <div class="d-flex">
                    <div class="border-secondary d-inline-flex flex-column flex-grow-1 justify-content-center align-items-sm-center justify-content-xl-center align-items-xl-center">
                        <img class="rounded-circle img-fluid flex-grow-0 flex-shrink-1 justify-content-xl-center align-items-xl-center" src="/assets/img/Ellipse%201.png">
                        <div class="text-center id-div">
                            <p class="text-center" style="font-family: Nunito, sans-serif; font-weight: bold; font-size: 30px;">1101817</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 offset-lg-1 d-flex flex-column justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center rounded-3" data-aos="fade-left" data-aos-duration="1850" style="background: #CBF3F0; height: 19rem;">
                <div>
                    <h1 class="d-lg-flex justify-content-lg-center">Progress Bar</h1>
                </div>
                <div class="indice-general">
                    <p class="d-flex justify-content-center" style="color: black; font-family: Nunito, sans-serif; font-weight: bold;">Índice General de 4</p>
                </div>
                <div>
                    <p class="text-center credits p-3" style="background: #39C4B6; font-family: Nunito, sans-serif; font-weight: bold; color: white;">140 créditos de 279</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>